/target/
!.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.recommenders
.classpath
.project

### Java ###
# Compiled class file
*.class

# Package Files #
*.jar
*.zip
